* {
    box-sizing: border-box;
}

/* BODY */
body {
    display: grid;
    grid-template-areas:
        /*6 columnas y 3 filas*/
        'header header header header header header'
        'main main main main main main'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
    background-color:  #f1f1f1;
    padding: 10px;
}

/* HEADER */
header {
    grid-area: header;
    padding: 30px;
    text-align: center;
    background: white;
}

#main-index {
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    align-content: center;
}

section {
    width: 50%;
    background-color: lightgray;
    border: 2px solid gray;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* FOOTER */
footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }